#Change the name to match your course name
name: Deploy HTML Files to AppService - CMST385

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@main

      - name: Deploy HTML Files to AppService - CMST385
        uses: azure/webapps-deploy@v1
        with:
          app-name: 'cmst385-smccall9'
          slot-name: 'production'
          publish-profile: ${{ secrets.AppServiceCMST385 }}
